{% block body %}
{% if session['logged_in'] %}

You're logged in already!

{% else %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css"  href="static/css/estilos.css">
	<title>Login - Pilot Age SA</title>
</head>
<body>
	<div id="container">
		<aside class="form_container">
			<form action="" method="post">
				<div>
					<img src="static/img/Logo_Pilotage.jpg" alt="Logo Pilot Age SA">
				</div>
				<input type="text" placeholder="USER" name="uname" required>
				<input type="password" placeholder="PASSWORD" name="psw" required>
				<input type="submit" value="LOGIN">
			</form>
		</aside>
		<footer>
			<p>Powered by</p>
			<div id="logo_kirno"></div>
		</footer>
	</div>
</body>
</html>
{% endif %}
{% endblock %}
