<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="static/css/estilos.css">
	<link rel="stylesheet" href="static/css/styles.css">
	<link rel="shortcut icon" type="image/x-icon" href="favicon2.ico">
	<title>Atlantis Electronics | Login</title>
</head>
<body>
	<div id="container_nologin">
		<div class="no_login">
			<span class="icon icon-frown-o"></span>
			<p>The username and/or password are incorrect</p>
			<a href="index.html">Try again</a>
		</div>
		<footer class="footer_index">
			<p>Powered by</p>
			<div id="logo_kirno"></div>
		</footer>
	</div>
</body>
</html>