@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

@font-face {
	font-family: myFirstFont;
	src: url(DS-DIGI.TTF);
}

#container {
	background-image: url("../img/background/medidor_4.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}

.form_container {
	margin: 80px 0 0 80px;
	padding: 1.5em;
	background-color: rgba(236, 240, 241,.7);
	width: 90%;
	max-width: 500px;
	border-radius: 12px;
}

.form-section {
	margin-bottom: 10px;
	position: relative;
}

.form-section label {
	margin-bottom: 5px;
	color: #5e5e5e;
}

.form-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 26px;
}

.form-logo img {
	width: 90%;
}

.form-logo h1 {
	margin-top: 12px;
}

form div img {
	width: 100%;
}

form p {
	text-align: center;
	margin-bottom: 25px;
	font-size: 29px;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 7px;
	margin-bottom: 1em;
	margin-top: 10px;
	font-size: 17px;
}

input:focus {
	border: 1px solid #3B871A;
	outline: none;
}

button[type=submit] {
	width: 100%;
	background-color: #3B871A;
	color: white;
	padding: 12px 20px;
	border: 2px solid #3B871A;
	border-radius: 7px;
	cursor: pointer;
	font-size: 19px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

button[type=submit]:hover {
	background-color: white;
	color: #3B871A;
	border: 2px solid #3B871A;
}

#logo_kirno {
	background-image: url(../img/logo_kirno.png);
	/* img 160 * 103 factor .64375 */
	width: 110px;
	height: calc(110px * .64375);
	background-size: cover;
}

#led {
	width: 16px;
	height: 16px;
	background-color: #e42e2e;
	opacity: 0;
	display: block;
	border-radius: 50%;
	-webkit-animation: blink 5s .1s;
	animation: blink 5s .1s;
	position: absolute;
	right: 15.3%;
	top: 39.4%;
}

@-webkit-keyframes blink {
	0%  {visibility: visible;}
	25%  {visibility: hidden;}
	50%  {visibility: visible;}
	75%  {visibility: hidden;}
	100%  {visibility: visible;}
 }

@keyframes blink {
	0% {
		opacity: 0 
	}
	10% {
		opacity: 1
	}
	20% {
		opacity: 0 
	}
	30% {
		opacity: 1 
	}
	40% {
		opacity: 0 
	}
	50% {
		opacity: 1
	}
	60% {
		opacity: 0 
	}
	70% {
		opacity: 1 
	}
	80% {
		opacity: 0 
	}
	90% {
		opacity: 1 
	}
	100% {
		opacity: 0
	}
 }

.contenedor {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 25px auto 0;
}

.contenedor_botones {
	width: 20%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.contenedor_botones h2 {
	width: 100%;
	text-align: center;
	font-size: 33px;
	margin-bottom: 36px;
	color: #294772;;
}
/*Colores*/
/*#c3d939;
#fec82e;
#ff8000;
#b67bf4;
#aa00ff;
#0380ff;
#5bd1ed;
*/



.contenedor_botones button {
	/*background-color: #294772;*/
	color: white;
	padding: 12px 20px;
	border: 2px solid #294772;
	border-radius: 7px;
	cursor: pointer;
	font-size: 19px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	margin: 20px;
}

/*.contenedor_botones button:hover {
	background-color: white;
	color: #294772;
	border: 2px solid #294772;
}*/

.contenedor_botones button:nth-of-type(1) {
	background-color: #c3d939;
	border: 2px solid #c3d939;
}

.contenedor_botones button:nth-of-type(2) {
	background-color: #aa00ff;
	border: 2px solid #aa00ff;
}

.contenedor_botones button:nth-of-type(3) {
	background-color: #0380ff;
	border: 2px solid #0380ff;
}

.contenedor_botones button:nth-of-type(4) {
	background-color: #fec82e;
	border: 2px solid #fec82e;
}

.contenedor_botones button:nth-of-type(5) {
	background-color: #5bd1ed;
	border: 2px solid #5bd1ed;
}
.seleccionado {
	background-color: white !important; 
	color: #ff8000 !important;
	border: 2px solid #ff8000 !important;
}

.contenedor_meters {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.contenedor-meter {
	width: 37%;
	position: relative;
	margin: 0 34px 25px;
	min-width: 380px;
	background-color: rgba(234, 234, 234, .6);
	border-radius: 10px;
}

.contenedor-meter h2 {
	text-align: center;
	padding: 12px 0;
	color: #294772;
	/*background-color: #b5b4b4;*/
	border-radius: 6px 6px 0 0;
	border-bottom: 1px solid;
}

.contenedor-meter-img {
	position: relative;
	padding: 35px;
}

.contenedor-meter img {
	width: 100%;
	vertical-align: bottom;
	border-radius: 10px;
}

.number {
	position: absolute;
	top: 35%;
	width: 63%;
	height: 29%;
	text-align: right;
	font-size: 60px;
	color: #252121;
	background-color: #565858;
	border-radius: 6px;
	padding: 14px;
	left: 17%;
	font-family: myFirstFont;
}

.ojo {
	cursor: pointer;
	font-size: 23px;
	color: #5f5a5a;
	position: absolute;
	right: 3%;
	top: 40px;
	z-index: 5;
}

/*CPANEL*/

#cpanel_container {
	width: 100%;
	max-width: 1340px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

#cpanel_container ul li form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;	
	margin-bottom: 20px;
}

#cpanel_container ul li form label {
	font-size: 17px;
	margin-right: 16px;
}

#cpanel_container ul li form input[type=text] {
	flex: 1;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 7px;
	margin-bottom: 0;
	margin-top: 0;
	font-size: 17px;
}

.contenedor_listado_meters {
	width: 100%;
	margin: 30px 330px;
}

.contenedor_listado_meters ul {
	list-style: none;
	width: 80%;
	margin: auto;
}

.contenedor_listado_meters li {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.contenedor_listado_meters li div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.form-update label {
	text-align: center;
	width: 100%;
	display: block;
	font-size: 26px;
	font-weight: 600;
}

.rules h2 {
	font-size: 22px;
}

.rules ul li {
	margin-left: 25px;
}

.form-update input[type=button] {
	background-color: #3B871A;
	color: white;
	padding: 12px 20px;
	border: 2px solid #3B871A;
	border-radius: 7px;
	cursor: pointer;
	font-size: 17px;
	
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.update {
	background-color: #3B871A;
	color: white;
	padding: 6px 9px;
	border: 2px solid #3B871A;
	border-radius: 7px;
	cursor: pointer;
	font-size: 16px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.form-update input[type=button] {
	width: 100%;
}

.update {
	margin-left: 17px;
}

.update:hover {
	background-color: white;
	color: #3B871A;
	border: 2px solid #3B871A;
}

.meter-text {
	margin-right: 12px;
	font-size: 19px;
}

#cpanel_container ul li form input[type=button]:hover {
	background-color: white;
	color: #3B871A;
	border: 2px solid #3B871A;
}

.mensaje_error {
	background-color: #c0392b;
	color: white;
	width: 100%;
	display: none;
	padding: 10px;
	border-radius: 7px;
	margin-bottom: 20px;
}

.wrap_botones_cpanel {
	width: 100%;
	margin: 45px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.botones_cpanel {
	background-color: #294772;
	border: 2px solid #294772;
	color: white;
	width: 170px;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 15px;
	border-radius: 8px;
	cursor: pointer;
	outline: none;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.botones_cpanel:hover {
	background-color: white;
	color: #294772;
	border: 2px solid #294772;
}

.new_user {
	width: 80%;
	margin: 0 auto 40px;
}
.titulo-cpanel {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	display: flex;
	justify-content: space-between;
}

.titulo-cpanel p {
	color: #294772;
	font-size: 27px;
	text-align: center;
}

.titulo-cpanel span {
	border-bottom: 2px solid #294772;
	width: 24%;
	position: relative;
	top: -15px;
}

.new_user input[type=button] {
	width: 100%;
	background-color: #3B871A;
	color: white;
	padding: 12px 20px;
	border: 2px solid #3B871A;
	border-radius: 7px;
	cursor: pointer;
	font-size: 1.4em;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.new_user input[type=button]:hover {
	background-color: white;
	color: #3B871A;
	border: 2px solid #3B871A;
}

.wrap_table {
	width: 80%;
	margin: 0 auto 40px;
}

#cpanel_container table {
	width: 90%;
	margin: auto;
	border-collapse: collapse;
}

#cpanel_container table td, #cpanel_container table th {
	padding: 13px;
	font-size: 18px;
}

#cpanel_container table tr:nth-child(even){
	background-color: #f2f2f2;
}

#cpanel_container table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #b2bec3;
	color: white;
	font-weight: 500;
}

#cpanel_container table th:nth-of-type(1) {
	width: 60%;
}

.wrap_edit_delete {
	display: flex;
	justify-content: space-around;
}

.tabla_botones {
	width: 86px;
	font-size: 15px;
	cursor: pointer;
	padding: 9px;
	border-radius: 5px;
	color: white;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
	-webkit-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s;
	height: 36px;
	display: inline-block;
	line-height: 17px;
	text-align: center;
	background-color: #e40017;
	border: 1px solid #e40017;
}

.tabla_botones:hover {
	background-color: white;
	color: #e40017;
}


@media screen and (min-width: 900px) {
	.new_user, .wrap_table {
		width: 50%;
		padding: 25px;
	}

	.new_user {
		max-width: 500px;
	}

	.new_user form{
		width: 90%;
		margin: auto;
	}
}

#count_down {
	width: 100%;
	display: none;
	flex-direction: column;
	align-items: center;
	margin-bottom: 45px;
}

#count_down p {
	font-size: 20px;
	margin-bottom: 17px;
}

#count_down span {
	color: white;
	background-color: #f39c12;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 80px;
	height: 80px;
	font-size: 42px;
	text-align: center;
	margin-right: 20px;
}

.avoid_clicks {
	pointer-events: none;
}

.already_register {
	width: 90%;
	margin: auto;
	margin-bottom: 13px;
	font-size: 22px;
}

header {
	width: 100%;
	padding: 7px 25px;
	background-color: rgba(234, 234, 234, .6);
	display: flex;
	align-items: center;
	border-bottom: 2px solid #294772;
}

header img {
	width: 200px;
	vertical-align: bottom;
	margin-right: 30px;
}

header h1 {
	font-size: 20px;
}

.footer_meter {
	width: 100%;
	padding: 20px 0;
	background-color: rgba(234, 234, 234, .6);
}

.footer_meter p {
	text-align: center;
	font-size: 14px;
}

.footer_index {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 20px;
	margin-bottom: 12px;
}

.footer_index p {
	color: #888;
	text-align: center;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 30%;
	min-width: 510px;
	position: relative;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 33px;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 7px;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/*NO LOGIN*/

#container_nologin {
	background-image: url("../img/background/medidor_1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.no_login {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: auto;
	padding: 1.5em;
	background-color: rgba(236, 240, 241,.82);
	width: 90%;
	max-width: 600px;
	border-radius: 12px;
	text-align: center;
}

.no_login span {
	font-size: 100px;
	color: #5f5a5a;
}

.no_login p {
	font-size: 23px;
	margin-bottom: 35px;
	color: #5e5e5e;
}

.no_login a {
	text-decoration: none;
	width: 100%;
	background-color: #3B871A;
	color: white;
	padding: 12px 20px;
	border: 2px solid #3B871A;
	border-radius: 7px;
	cursor: pointer;
	font-size: 1.4em;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.no_login a:hover {
	background-color: white;
	color: #3B871A;
	border: 2px solid #3B871A;
}

.green {
	color: #3B871A;
}

.already_register {
	width: 90%;
	margin: auto;
	margin-bottom: 13px;
	font-size: 22px;
}

@media screen and (max-width: 1530px) {

.number {
  font-size: 56px;
  height: 28%;
}

}


@media screen and (max-width: 1220px) {

.contenedor_botones {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.contenedor_meters {
	width: 100%;
}

.contenedor_botones button {
  min-width: 270px;
}

}

@media screen and (max-width: 620px) {

.contenedor_botones button {
  min-width: 380px;
}

}

@media screen and (max-width: 420px) {

.contenedor_botones button, .contenedor-meter {
  min-width: 90%;
}

.contenedor-meter-img {
    padding: 9px;
}

.number {
	font-size: 46px;
	top: 33%;
	width: 70%;
	height: 34%;
	text-align: right;
	left: 14%;
}

#led {
  right: 10.3%;
  top: 36.4%;
}

header img {
	margin: auto;
}
}